#Main-title {font-family: Georgia, serif;text-align: center;}
.introduction {font-style: italic;color: gray;}
h2 {color: darkblue;}
.conclusion {background-color: lightyellow;border: black 5mm solid;}    