.container{
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

ul{
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 0.5ren 0;
}

li span {
  flex-grow: 1;
  margin: 0 0.5rem;
}